body {
  font-family: sans-serif;
  background-color: #fcf1b3;
  margin: 0px;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
nav a {
  display: inline-block;
  margin: 1em;
  font-size: 20px;
}
#name {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#name:hover {
  text-decoration: none;
}

.navLink:visited {
  color: white;
}

.navLink:hover {
  text-decoration: underline;
}

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}

.albumButton:hover {
  box-shadow: 0 16px 20px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  opacity: 0.5;
  transition: 0.9s ease;
}

.middle {
  transition: 0.9s ease;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.container:hover .middle {
  opacity: 1;
}

.addToCartText {
  color: black;
  font-size: 16px;
  padding: 16px 32px;
}

.albumContainer {
  position: relative;
  width: 50%;
}

.albumCover {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.9s ease;
  backface-visibility: hidden;
}

.albumContainer:hover .albumCover {
  opacity: 0.3;
}
.albumContainer:hover .addToCartText {
  color: black;
  transition: 0.9s ease;
}

.addToCartText {
  color: transparent;
  font-size: 16px;
  padding: 16px 32px;
}
